<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Thanks!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Thank you for using this tool!</h1>
      <p>
        Our aim is to provide great productivity tools for everybody to use
        easily for absolutely no cost at all!<br />
        <!--
      </p>
      
      <p>
        -->
      </p>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/download" method="POST">
        <label>Successfully extracted!</label>
        <label>Download your extracted file here!</label>
        <input type="submit" value="Download" />
      </form>
    </div>

    <div class="container">
      <h4>This app was created by Farhan Khan &copy;</h4>
      <p>
        Feel free to visit my github repository at
        <a href="https://github.com/khanfarhan10/SimpleCalcEvalPython"
          >SimpleCalcEvalPython</a
        >
        to get a better understanding and the working code documentation for
        this app.
      </p>
    </div>
  </body>
</html>
<!--

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>

  <body bgcolor="#f497e4">
    <form action="/download" method="get">
      <p>Successfully extracted!</p>
      <p>Download your extracted file here!</p>
      <input type="submit" value="Download" />
    </form>
  </body>
</html>


-->
